/*** general pages settings ***/
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: $black;
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
}

.slider-container {
    padding-right: 15px;
    padding-left: 15px;
}
img{
    max-width: 100%;
}
/*** texts style ****/
a {
    transition: all 0.3s ease-in-out;
}

h1,
h2 {
    .Satisfy-font {
        position: relative;
        display: inline-block;
        line-height: 1;
        padding: 0 5px;

        &::after {
            content: "";
            display: block;
            height: 10px;
            width: 100%;
            position: absolute;
            left: -5px;
            bottom: 0;
            background: url("../images/home/line-bg.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left 0 center;
        }
    }

    .light-text {
        position: relative;
        display: inline-block;
        line-height: 1;
        //padding: 0 5px;
        color: $yellow;
        font-family: 'Satisfy', cursive;
    }
}

h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 128%;

    span {
        font-weight: 400;
    }

}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;

    span {
        font-weight: 400;
        font-size: 53px;
        line-height: 106%;
    }

}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 167%;
}

.caveat-font {
    font-family: 'Caveat', cursive;
}

.Satisfy-font {
    font-family: 'Satisfy', cursive;
}

.text {
    &-yellow {
        color: $yellow !important
    }

    &-primary {
        color: $primary !important
    }

    &-new-blue {
        color: #0948B4
    }

    &-medium-gray {
        color: #576575
    }

    &-big {
        font-size: 24px;
        line-height: 167%;
    }

    &-small {
        font-size: 15px;
        line-height: 153%;
    }

    &-medium {
        font-weight: 500;
    }
}

.block-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 167%;
    margin-bottom: 28px;

    img {
        margin-right: 9px;
    }
}

/*** background styles ***/
.bg {
    &-primary {
        background-color: $primary !important;
    }
}

/**** buttons style ****/
.btn {
    &-primary {
        background: #2B7DDD;
        border-color: #2B7DDD;
        color: #fff !important;
    }

    &-outline-primary {
        
        border: 1px solid #0948B4;
        border-radius: 10px;
        color: #0948B4;

        &:hover {
            background: #0948B4;
            color: #fff
        }
    }

    &-warning {
        background: $yellow;
        font-weight: 600;
        color: $black
    }

    &-white {
        background: #FFFFFF;
        color: #000000;

        &:hover {
            background: $yellow;
        }
    }

    &-light-blue {
        background: rgba(9, 72, 180, 0.1);
        padding: 14px 28px;
        font-size: 19px;
        line-height: 30px;
        color: #0948B4;
        border-radius: 40px;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 24px;
            margin-right: 6px;
            line-height: 0;
            vertical-align: middle;
        }

        &:hover {
            background: $primary;
            color: #fff
        }
    }
}

/*** slick slider ****/
.slick-slide img {
    display: initial;
}

/*** course-snap-block style *****/
.course-snap-block {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #576575;

    .snap-img {
        width: 60px;
        height: 60px;
        background: #D9D9D9;
        border-radius: 12px;
        margin: 0 auto 8px auto;

        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;

        }
    }

    strong {
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        display: block;
        color: initial;

        small {
            font-weight: 600;
            font-size: 18px;
            line-height: 40px;
            margin-left: 10px;
        }
    }
}