/**** site colors ****/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/*
font-family: 'Caveat', cursive;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Satisfy', cursive;
*/
/*** general pages settings ***/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #2E2E2E;
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
}

.slider-container {
  padding-right: 15px;
  padding-left: 15px;
}

img {
  max-width: 100%;
}

/*** texts style ****/
a {
  transition: all 0.3s ease-in-out;
}

h1 .Satisfy-font,
h2 .Satisfy-font {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 0 5px;
}
h1 .Satisfy-font::after,
h2 .Satisfy-font::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  left: -5px;
  bottom: 0;
  background: url("../images/home/line-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0 center;
}
h1 .light-text,
h2 .light-text {
  position: relative;
  display: inline-block;
  line-height: 1;
  color: #EEBC00;
  font-family: "Satisfy", cursive;
}

h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 128%;
}
h1 span {
  font-weight: 400;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
}
h2 span {
  font-weight: 400;
  font-size: 53px;
  line-height: 106%;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
}

.caveat-font {
  font-family: "Caveat", cursive;
}

.Satisfy-font {
  font-family: "Satisfy", cursive;
}

.text-yellow {
  color: #EEBC00 !important;
}
.text-primary {
  color: #044ab4 !important;
}
.text-new-blue {
  color: #0948B4;
}
.text-medium-gray {
  color: #576575;
}
.text-big {
  font-size: 24px;
  line-height: 167%;
}
.text-small {
  font-size: 15px;
  line-height: 153%;
}
.text-medium {
  font-weight: 500;
}

.block-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
  margin-bottom: 28px;
}
.block-head img {
  margin-right: 9px;
}

/*** background styles ***/
.bg-primary {
  background-color: #044ab4 !important;
}

/**** buttons style ****/
.btn-primary {
  background: #2B7DDD;
  border-color: #2B7DDD;
  color: #fff !important;
}
.btn-outline-primary {
  border: 1px solid #0948B4;
  border-radius: 10px;
  color: #0948B4;
}
.btn-outline-primary:hover {
  background: #0948B4;
  color: #fff;
}
.btn-warning {
  background: #EEBC00;
  font-weight: 600;
  color: #2E2E2E;
}
.btn-white {
  background: #FFFFFF;
  color: #000000;
}
.btn-white:hover {
  background: #EEBC00;
}
.btn-light-blue {
  background: rgba(9, 72, 180, 0.1);
  padding: 14px 28px;
  font-size: 19px;
  line-height: 30px;
  color: #0948B4;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.btn-light-blue i {
  font-size: 24px;
  margin-right: 6px;
  line-height: 0;
  vertical-align: middle;
}
.btn-light-blue:hover {
  background: #044ab4;
  color: #fff;
}

/*** slick slider ****/
.slick-slide img {
  display: initial;
}

/*** course-snap-block style *****/
.course-snap-block {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #576575;
}
.course-snap-block .snap-img {
  width: 60px;
  height: 60px;
  background: #D9D9D9;
  border-radius: 12px;
  margin: 0 auto 8px auto;
}
.course-snap-block .snap-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.course-snap-block strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  display: block;
  color: initial;
}
.course-snap-block strong small {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-left: 10px;
}

/*** pages reusable components styles ***/
/*feature-box style */
.feature-box {
  background: #fff;
  padding: 50px 24px 35px 24px;
  border-radius: 20px;
}
.feature-box img {
  margin-bottom: 60px;
}
.feature-box h3 {
  margin-bottom: 13px;
}

/** statistic-box style */
.statistic-box {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.statistic-box .box-icon {
  width: 101px;
  background: rgba(21, 109, 214, 0.16);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 13px;
  border-radius: 10px 0 0 10px;
}
.statistic-box .box-content {
  width: calc(100% - 101px);
  padding: 42px 24px;
}
.statistic-box .box-content h2 {
  margin-right: 23px;
  margin-bottom: 0;
}

/*** instructor-box style ***/
.instructor-box .instructor-img {
  background: #F7F8F9;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 34px;
  padding: 25px 12px 0 12px;
}
.instructor-box .instructor-img img {
  height: 250px;
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.instructor-box h3 {
  margin-bottom: 7px;
}
.instructor-box .tech-icons img {
  margin: 10px 16px 10px 0;
}
.instructor-box .tech-icons span {
  font-weight: 600;
  font-size: 20px;
  line-height: 158%;
  color: #2B7DDD;
}

/*** program-box style ***/
.program-box .img-box {
  position: relative;
  height: 100%;
}
.program-box .img-box img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.program-box .img-box .new-badge {
  position: absolute;
  left: 0;
  top: 0;
  background: #044ab4;
  border-radius: 20px 0px 0px 0px;
  padding: 11px 9px 13px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}
.program-box .img-box .event-time {
  background: rgba(9, 72, 180, 0.71);
  border-radius: 0px 0px 20px 20px;
  padding: 12px 10px 13px 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 153%;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.program-box .content-box {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  padding: 31px 29px;
  height: 100%;
}
.program-box .content-box .box-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.program-box .content-box .box-head .program-time {
  background: rgba(4, 74, 180, 0.9);
  border-radius: 39.9083px;
  font-weight: 400;
  font-size: 15px;
  line-height: 153%;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 15px;
}
.program-box .content-box .box-head .program-time i {
  margin-right: 7px;
}
.program-box .content-box h3 {
  font-weight: 500;
  font-size: 31px;
  line-height: 145%;
  margin-bottom: 15px;
}
.program-box .content-box p {
  margin-bottom: 30px;
}
.program-box .content-box .btn {
  margin-top: 40px;
  border: 1px solid #2E2E2E;
  padding: 15px;
  width: 100%;
}
.program-box .content-box ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.program-box .content-box ul li {
  font-size: 15px;
  line-height: 153%;
}
.program-box .content-box ul li i {
  margin-right: 7px;
}
.program-box .content-box .event-author {
  display: flex;
}
.program-box .content-box .event-author .author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

/*** accordion style ***/
.accordion .accordion-item {
  margin-bottom: 16px;
  border: 0;
}
.accordion .accordion-item .accordion-header .accordion-button {
  padding: 16px 0;
  border-bottom: 0.5px solid #A2A7AE;
  font-weight: 500;
  font-size: 19px;
  line-height: 158%;
  box-shadow: none !important;
  background: #fff;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #044ab4;
}
.accordion .accordion-item .accordion-header .accordion-button.accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}
.accordion .accordion-item .accordion-body {
  border: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #676E76;
  padding: 24px 0 0 0;
}
.accordion.circled .accordion-item {
  border: 0;
}
.accordion.circled .accordion-item .accordion-header .accordion-button {
  padding: 20px 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  color: #2E2E2E;
  background: #fff !important;
  border: 0 !important;
  box-shadow: none !important;
}
.accordion.circled .accordion-item .accordion-header .accordion-button::after {
  display: none;
}
.accordion.circled .accordion-item .accordion-header .accordion-button::before {
  content: "+";
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: #EEBC00;
  border-radius: 32px;
  margin-right: 22px;
  padding-top: 9px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 73%;
  color: #fff;
}
.accordion.circled .accordion-item .accordion-header .accordion-button:not(.collapsed)::before {
  content: "-";
}
/*** nav-tabs style ***/
.nav-tabs {
  border: 0;
}
.nav-tabs .nav-item {
  margin-right: 14px;
}
.nav-tabs .nav-item .nav-link {
  border: 0.959108px solid #000000;
  border-radius: 38.3643px;
  padding: 8.5px 50px;
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: #2E2E2E;
}
.nav-tabs .nav-item .nav-link.active {
  background: #EEBC00;
  border: 0.959108px solid #2E2E2E;
  font-weight: 500;
}

/*** labels-block style ***/
.labels-block span {
  display: inline-block;
  font-size: 15px;
  line-height: 153%;
  padding: 10px 24px;
  border: 1px solid #DEDEDE;
  border-radius: 32px;
  margin-bottom: 10px;
}

/**** breadcrumb style ****/
.breadcrumb .breadcrumb-item {
  font-size: 15px;
  line-height: 23px;
  color: #044ab4;
}
.breadcrumb .breadcrumb-item a {
  color: #676E76;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #044ab4;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%252C40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(269deg);
  width: 0.9rem;
  height: 1.3rem;
  background-size: 0.9rem;
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

/*** vertical tabs style ****/
.nav-pills {
  align-items: flex-start;
}
.nav-pills .nav-link {
  padding: 8px 8px 8px 28px;
  color: #576575;
  border-left: 4px solid transparent;
}
.nav-pills .nav-link.active {
  border-color: #2B70C5;
  color: #303236;
  background: transparent;
  font-weight: 500;
}

/*** skills box style ***/
.skill-box {
  background: rgba(4, 74, 180, 0.06);
  border-radius: 20px;
  padding: 64px 30px 0 30px;
  height: 100%;
}
.skill-box h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
  margin-bottom: 10px;
}
.skill-box.d-flex {
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.skill-box.white-box {
  background: #fff;
  border: 1px solid #044ab4;
}

/*** mentor-box style ****/
.mentor-box .mentor-img {
  height: 100%;
  background: #F0F4FA;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  padding: 30px 13px 0 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mentor-box .box-content {
  padding: 28px 35px;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  height: 100%;
}
.mentor-box .box-content .tag {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #0948B4;
  border-radius: 32px;
  color: #0948B4;
  margin: 4px;
  font-size: 15px;
  line-height: 153%;
}
.mentor-box .box-content .mentor-img-sm {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.mentor-box .box-content .mentor-img-sm img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 10px;
  background: #f0f4fa;
  -o-object-fit: cover;
     object-fit: cover;
}
.mentor-box .box-content .mentor-img-sm h3 {
  margin-bottom: 0;
}
.mentor-box .box-content .mentor-opinion {
  position: relative;
  padding-left: 27px;
  margin-bottom: 40px;
}
.mentor-box .box-content .mentor-opinion::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 17.93px;
  height: 17.08px;
  background: url("../images/about/qoute.svg");
}
.mentor-box .box-content .tech-icons {
  margin-bottom: 40px;
}
.mentor-box .box-content .tech-icons img {
  margin-right: 16px;
}

/*** form style ****/
form .form-control {
  padding: 11px 22px;
  border: 1px solid #B8B6B6;
  border-radius: 5px;
  box-shadow: none !important;
  outline: none !important;
}
form .form-control:focus {
  border-color: #044ab4;
}
form .btn {
  padding: 17px 20px;
  font-size: 16px;
  font-weight: 500;
}

/*** blog-card style ****/
.blog-card {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.blog-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog-card img {
  width: 100%;
}
.blog-card .d-flex {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.blog-card .box-body {
  padding-top: 32px;
}
.blog-card .blog-category {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #0948B4;
  margin-bottom: 12px;
}
.blog-card h3 {
  line-height: 133%;
}
.blog-card .blog-title {
  display: flex;
}
.blog-card .blog-title a {
  color: #101828;
  transform: rotate(45deg);
}
.blog-card .blog-title a .bi-arrow-up-short::before {
  font-weight: 900 !important;
}
.blog-card .blog-title a:hover {
  color: #EEBC00;
}
.blog-card .short-description {
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  margin-bottom: 32px;
}
.blog-card .box-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  display: flex;
  align-items: center;
}
.blog-card .box-footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.blog-card .box-footer strong {
  display: block;
}

/**** field-label style ***/
.field-label {
  display: inline-block;
  background: rgba(9, 72, 180, 0.05);
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 22px;
  line-height: 40px;
  color: #0948B4;
}

/**** form switch style ****/
.form-switch .form-check-input {
  width: 78px;
  height: 38px;
  margin-top: 0;
  background: rgba(4, 74, 180, 0.1) url("../images/curriculum/switch.svg") no-repeat;
  background-position: left 4px center;
  border-radius: 22.6658px;
  border: 0;
}
.form-switch .form-check-input:checked {
  background: #044ab4 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") no-repeat;
  background-position: right center;
}

/*** header style ****/
.navbar {
  padding: 14.5px 0;
}
.navbar .navbar-nav .nav-link {
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.navbar .navbar-nav .nav-link:hover {
  color: #EEBC00;
}
.navbar .navbar-nav .nav-link.btn-outline {
  padding: 16px 32px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  line-height: 120%;
}
.navbar .navbar-nav .nav-link.btn-outline:hover {
  color: #2E2E2E;
  background: #EEBC00;
  border-color: #EEBC00;
}

/*** home page style *****/
.TP-hero {
  position: relative;
  padding-top: 44px;
}
.TP-hero .container {
  position: relative;
  z-index: 2;
}
.TP-hero.hero-home {
  background-color: #044ab4;
  background-image: url("../images/home/hero-img-left.svg"), url("../images/home/hero-img-right.svg");
  background-position: left 0 top, right 0 top;
  background-repeat: no-repeat;
}
.TP-hero h1 {
  margin-bottom: 42px;
}
.TP-hero h1 span {
  padding: 0 5px 0 2px;
}
.TP-hero h1 span::after {
  left: 0;
  bottom: 0;
}
.TP-hero .btn {
  border-radius: 11.155px;
  font-weight: 600;
  font-size: 19px;
  line-height: 158%;
  color: #141414;
  width: 100%;
  max-width: 215px;
  padding: 16px 10px;
}
.TP-hero .hero-box {
  background: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 139%;
  border-radius: 20px;
}
.TP-hero .hero-box.first-box {
  padding: 45px 31px;
  margin-top: -30px;
}
.TP-hero .hero-box.second-box {
  border-radius: 20px 20px 0px 0px;
  margin-top: 84px;
}
.TP-hero .hero-box.second-box .text {
  padding: 53px 48px;
}
.TP-hero .hero-box.second-box .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.TP-hero .hero-box.second-box .logos img {
  margin: 10px;
}
.TP-hero .hero-box.third-box {
  padding: 18px 8px 0 8px;
  margin-top: 36px;
}
.TP-hero .hero-box.third-box .text {
  padding: 0 36px 46px 36px;
}
.TP-hero .col-auto {
  max-width: 345px;
}
.TP-hero .absolute-block {
  position: absolute;
  right: 0;
  bottom: 0;
}
.TP-hero.event-hero {
  padding-top: 144px;
}
.TP-hero.event-hero h1 {
  max-width: 726px;
}
.TP-hero.event-hero p {
  max-width: 612px;
}
.TP-skills {
  padding-top: 90px;
  padding-bottom: 90px;
}
.TP-skills h2 {
  max-width: 873px;
  margin: 0 auto 85px auto;
}
.TP-skills .skill-box {
  padding: 40px 10px;
}
.TP-skills .skill-box.first-box img {
  margin-top: 20px;
}
.TP-skills .skill-box.second-box img {
  margin-bottom: 34px;
}
.TP-skills .skill-box.third-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 32px;
  background: #fff;
  border: 1px solid #044AB4;
}
.TP-skills .skill-box.third-box img {
  margin-bottom: -1px;
}
.TP-features {
  padding-top: 70px;
  padding-bottom: 70px;
}
.TP-features .slider-container {
  padding-right: 0;
}
.TP-features .slider-container .row {
  margin-right: 0;
}
.TP-features .col-lg-auto {
  z-index: 9;
  box-shadow: 32px 13px 65px -20px rgb(4, 74, 180);
  box-shadow: rgba(4, 74, 180, 0.48) 8px 0px 20px 40px, rgba(4, 74, 180, 0.8) 0px 0px 16px 0px;
}
@media (min-width: 992px) {
  .TP-features .col-lg-auto {
    width: 417px;
  }
  .TP-features .col-lg {
    width: calc(100% - 417px);
    padding: 0;
  }
}
.TP-features .intro h2 {
  margin-bottom: 36px;
}
.TP-features .intro .btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TP-features .intro .btn i {
  font-size: 32px;
}
.TP-features .slick-list {
  /*  margin-left: -40px;*/
  padding-left: 20px;
}
.TP-features .slick-slide {
  padding: 0 17px;
}
.TP-statistics {
  padding-top: 90px;
  padding-bottom: 120px;
}
.TP-learn-path {
  padding: 67px 0 76px 0;
}
.TP-learn-path h2 {
  margin-bottom: 81px;
  max-width: 1002px;
}
.TP-learn-path .nav-tabs {
  margin-bottom: 66px;
}
.TP-learn-path .nav-tabs .nav-item .nav-link {
  border-color: #fff;
  color: #fff;
}
.TP-learn-path .nav-tabs .nav-item .nav-link.active {
  border-color: transparent;
  color: #2E2E2E;
}
.TP-learn-path .tab-img {
  background: #044ab4;
  border-radius: 20px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.TP-learn-path .slider-container {
  padding-right: 0;
}
.TP-learn-path .slider-container .row {
  margin-right: 0;
}
.TP-learn-path .slider-container .row .col-lg-auto {
  width: 340px;
  z-index: 9;
}
.TP-learn-path .slider-container .row .col-lg {
  padding: 0;
}
@media (min-width: 992px) {
  .TP-learn-path .slider-container .row .col-lg {
    width: calc(100% - 340px);
  }
}
.TP-learn-path .learn-slider,
.TP-learn-path .slick-list,
.TP-learn-path .slick-track,
.TP-learn-path .slick-slide,
.TP-learn-path .feature-box {
  height: 100%;
}
.TP-learn-path .slick-list {
  padding-left: 34px;
}
.TP-learn-path .slick-slide {
  padding: 0 7px;
}
.TP-instructors {
  padding-top: 190px;
}
.TP-instructors h2 {
  max-width: 763px;
  margin: 0 auto 85px auto;
}
.TP-programs {
  padding-top: 190px;
}
.TP-programs h2 {
  max-width: 763px;
  margin: 0 auto 90px auto;
}
.TP-programs .container-fluid {
  padding: 0;
}
.TP-programs .slick-slide {
  padding: 0 22px;
}
.TP-programs .program-box .content-box ul li .d-flex {
  align-items: center;
}
.TP-programs .program-box .content-box ul li i {
  margin-right: 20px;
  font-size: 27px;
}
.TP-programs.TP-events {
  padding-top: 150px;
}
.TP-programs.TP-events h2 {
  margin: 0 0 42px 0;
}
.TP-programs.TP-events .slick-slide {
  padding: 0 10px;
}
.TP-programs.TP-events .program-box .content-box ul li i {
  margin-right: 7px;
  font-size: 15px;
}
.TP-programs.TP-events .nav-tabs {
  margin-bottom: 70px;
}
.TP-testimonials {
  padding-top: 190px;
}
.TP-testimonials h2 {
  max-width: 995px;
  margin: 0 auto 85px auto;
  text-align: center;
}
.TP-testimonials .carousel {
  max-width: 912px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.TP-testimonials .carousel .carousel-indicators {
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.TP-testimonials .carousel .carousel-indicators button {
  box-sizing: border-box;
  text-indent: initial;
  background: transparent;
  opacity: 1;
  padding: 7px;
  margin: 0 10px;
  width: 85.89px;
  height: 85.89px;
  border: 2.77073px solid transparent;
  border-radius: 50%;
}
.TP-testimonials .carousel .carousel-indicators button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.TP-testimonials .carousel .carousel-indicators button.active {
  border-color: #044ab4;
}
.TP-testimonials .carousel .carousel-item .content-box {
  border: 2px solid #DEDEDE;
  border-radius: 20px;
  padding: 44px 58px;
  height: 100%;
}
.TP-testimonials .carousel .carousel-item .content-box p {
  margin-bottom: 40px;
}
.TP-testimonials .carousel .carousel-item .content-box h3 .job-title {
  display: block;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}
.TP-testimonials .carousel .carousel-item .content-box .user-info {
  justify-content: center;
  align-items: center;
}
.TP-testimonials .carousel .carousel-item .content-box .user-info img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
@media (min-width: 991.98px) {
  .TP-testimonials .carousel .carousel-item .content-box .user-info img {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .TP-testimonials .carousel .carousel-item .content-box .user-info h3 {
    text-align: left;
  }
}
.TP-partners {
  padding-top: 190px;
}
.TP-partners h2 {
  margin-bottom: 80px;
}
.TP-partners .partner-icons {
  border-top: 1px solid #EEBC00;
  border-bottom: 1px solid #EEBC00;
}
.TP-life {
  padding-top: 190px;
}
.TP-life h2 {
  margin-bottom: 90px;
}
.TP-life .life-block {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  padding: 24px;
  font-family: "Caveat", cursive;
  text-align: center;
  margin-top: 12px;
}
.TP-life .life-block .block-img {
  margin-bottom: 21px;
  width: 100%;
  height: auto;
}
.TP-life .life-block::before {
  content: "";
  display: block;
  position: absolute;
  top: -11px;
  left: calc(50% - 22px);
  width: 22px;
  height: 22px;
  background: #044AB4;
  border-radius: 50%;
}
.TP-life .life-slider {
  padding-bottom: 130px;
}
.TP-life .life-slider .slick-arrow {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #2E2E2E;
  color: #2E2E2E;
  font-size: 35px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  position: absolute;
}
.TP-life .life-slider .slick-arrow:hover {
  color: #fff;
  background: #044ab4;
  border-color: #044ab4;
}
.TP-life .life-slider .slick-arrow.right-arrow {
  left: calc(50% + 40px);
}
.TP-life .life-slider .slick-arrow.left-arrow {
  left: calc(50% - 100px);
}
.TP-life .life-slider .slick-slide {
  padding: 15px;
}
.TP-life .life-slider .slick-slide.slick-active .life-block {
  transform: rotate(4.85deg);
}
.TP-life .life-slider .slick-slide.slick-active + .slick-active {
  padding-top: 60px;
}
.TP-life .life-slider .slick-slide.slick-active + .slick-active .life-block {
  transform: rotate(0deg);
}
.TP-life .life-slider .slick-slide.slick-active + .slick-active + .slick-active {
  padding-top: 0;
}
.TP-life .life-slider .slick-slide.slick-active + .slick-active + .slick-active .life-block {
  transform: rotate(-4.49deg);
}
.TP-faq {
  padding-top: 150px;
  padding-bottom: 80px;
}
.TP-faq h2.head {
  margin-bottom: 98px;
}
.TP-faq .faq-box {
  padding: 60px 32px;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  height: 100%;
}

/*** event page sections style ******/
.TP-intro {
  padding-top: 100px;
  padding-bottom: 90px;
}
.TP-intro p {
  font-size: 24px;
  line-height: 167%;
  margin-bottom: 18px;
}
.TP-intro .labels-block span {
  width: -moz-fit-content;
  width: fit-content;
}
.TP-explore {
  padding-top: 98px;
  padding-bottom: 52px;
}
.TP-explore h2 {
  margin-bottom: 40px;
  max-width: 492px;
}
.TP-explore p {
  font-size: 24px;
  line-height: 142%;
  margin-bottom: 40px;
  max-width: 678px;
}
.TP-explore .btn {
  width: 100%;
  max-width: 311px;
  padding: 15px;
  border: 1px solid #2E2E2E;
  border-radius: 10px;
}
.TP-previous-events {
  padding-top: 125px;
}
.TP-previous-events .program-box .content-box {
  padding: 35px;
}
.TP-previous-events .program-box .content-box ul li {
  font-size: 19px;
  line-height: 158%;
}
.TP-previous-events .slick-slide {
  padding: 0 5px;
  height: 100%;
}
.TP-previous-events .slick-slide img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

/*** faq page styles ****/
.TP-hero .form-control.search {
  height: 56px;
  background: #FFFFFF url("../images/faq/search.svg") no-repeat right 20px center;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 16px;
  padding: 20px 16px;
}
.TP-hero .form-control.search::-moz-placeholder {
  color: #A2A7AE;
}
.TP-hero .form-control.search::placeholder {
  color: #A2A7AE;
}
.TP-hero.faq-hero {
  padding-top: 70px;
  padding-bottom: 70px;
}
.TP-hero.faq-hero a {
  color: #fff;
}
.TP-hero.faq-hero .language-btns h2 {
  display: inline-block;
}
.TP-hero.faq-hero .language-btns a {
  text-decoration: none;
}
.TP-hero.faq-hero form {
  width: 790px;
}
.TP-hero.faq-hero .sugest a {
  margin-right: 36px;
  font-size: 15px;
  line-height: 23px;
}
.TP-faq-links h2 {
  margin-bottom: 68px;
}
.TP-faq-links ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin-bottom: 100px;
}
.TP-faq-links ul li {
  margin-bottom: 16px;
}
.TP-faq-links ul li:last-child {
  margin-bottom: 0;
}
.TP-faq-links ul li a {
  color: #0948B4;
  text-decoration: none;
}
.TP-faq-links ul li a:hover {
  color: #EEBC00;
}
.TP-answers .col-md-auto {
  width: 709px;
}

/*** about us page styles ****/
.TP-hero.about-hero {
  padding-top: 122px;
}
.TP-about-us {
  padding-top: 108px;
}
.TP-fonders {
  padding-top: 132px;
}
.TP-mentors {
  padding-top: 140px;
  padding-bottom: 100px;
}
.TP-mentors h2 {
  margin-bottom: 86px;
}
.TP-mentors .slick-slide {
  padding: 0 18px;
}
.TP-fonder-story {
  padding-top: 86px;
  padding-bottom: 86px;
}

/**** course page styles *****/
.TP-hero .course-form {
  width: 100%;
  max-width: 451px;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.05), 0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0359427), 0px 0.893452px 17.869px rgba(0, 0, 0, 0.0298054), 0px 0.500862px 10.0172px rgba(0, 0, 0, 0.025), 0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0201946), 0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0140573);
  border-radius: 10px;
  padding: 32px 54px;
  margin-bottom: -32%;
}
.TP-hero .course-form .form-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 172%;
  margin-bottom: 9px;
}
.TP-hero .course-form .form-control {
  font-size: 15px;
  height: 53px;
}
.TP-hero .course-form textarea.form-control {
  height: 136px;
}
.TP-hero .course-form .btn {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  max-width: 100%;
}
.TP-hero .social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin: 0 20px;
}
.TP-hero .social-icons a:hover {
  background: #EEBC00;
}
.TP-hero .page-tag {
  display: inline-block;
  padding: 11px 18px;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  /* identical to box height, or 153% */
  text-align: center;
  /* White */
  color: #FFFFFF;
}
.TP-hero.course-hero {
  padding-top: 91px;
  padding-bottom: 90px;
}
.TP-hero .course-snap-block {
  color: #fff;
}
.TP-hero .course-snap-block .snap-img {
  background: #fff;
}
.TP-hero .course-snap-block strong {
  color: #fff;
}
.TP-hero#program-hero {
  padding-top: 62px;
  margin-bottom: 150px;
}
.TP-hero#program-hero .page-tag {
  margin-right: 7px;
  padding: 6px 14px;
  font-weight: 400;
}
.TP-hero#program-hero .inner-box {
  max-width: 618px;
}
.TP-hero#program-hero .course-details {
  width: 100%;
  max-width: 431px;
  background: #fff;
  padding: 32px 40px;
  margin-bottom: -123px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.TP-hero#program-hero .course-details .d-flex {
  font-size: 15px;
  line-height: 23px;
}
.TP-hero#program-hero .course-details h2 {
  font-weight: 700;
  font-size: 31px;
  line-height: 45px;
  margin-bottom: 40px;
}
.TP-hero#program-hero .course-details ul {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
  list-style: none;
}
.TP-hero#program-hero .course-details ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.TP-hero#program-hero .course-details ul li img {
  margin-right: 18px;
}
.TP-hero#program-hero .course-details .btn-outline-primary {
  width: 100%;
  max-width: 100%;
  padding: 12px;
}
.TP-contact-info {
  padding-top: 86px;
  padding-bottom: 68px;
}
.TP-value {
  padding-top: 70px;
  padding-bottom: 76px;
}
.TP-value h2 {
  max-width: 926px;
  margin-bottom: 56px;
}
.TP-value h3 {
  font-weight: 500;
  font-size: 31px;
  line-height: 45px;
  margin-bottom: 35px;
}
.TP-value .course-snap-block {
  display: flex;
  margin-bottom: 56px;
}
.TP-value .course-snap-block:last-child {
  margin-bottom: 0;
}
.TP-value .course-snap-block .snap-img {
  margin: 0;
}
.TP-value .course-snap-block div:not(.snap-img) {
  width: calc(100% - 60px);
  padding-left: 16px;
}
.TP-value .img-box {
  background: #D9D9D9;
  width: 100%;
  height: 100%;
}
.TP-hire-facts {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(180deg, rgba(43, 125, 221, 0) 4.69%, rgba(43, 125, 221, 0.31) 119.57%);
}
.TP-hire-form {
  padding-top: 100px;
}
.TP-hire-form h2 {
  margin-bottom: 32px;
}
.TP-hire-form form .form-group {
  margin-bottom: 32px;
}
.TP-hire-form form .form-label {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}
.TP-hire-form form .form-control {
  height: 62px;
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.TP-hire-form form .btn {
  width: 100%;
  max-width: 406px;
  border-radius: 10px;
}
.TP-learn-fields {
  padding-top: 100px;
}
.TP-learn-fields .container {
  max-width: 1125px;
}
.TP-learn-fields h2 {
  margin-bottom: 40px;
}
.TP-learn-fields .field-label {
  margin: 10px;
}
.TP-partners.inner {
  padding-top: 120px;
}
.TP-testimonials.inner {
  padding-top: 110px;
  padding-bottom: 100px;
}
.TP-testimonials.inner .container {
  max-width: 1025px;
}
.TP-course-overview .nav-tabs {
  margin-bottom: 40px;
}
.TP-course-overview .overview-box {
  padding: 69px 32px;
  background: #F0F4FA;
  border-radius: 20px;
  text-align: center;
}
.TP-course-overview .row {
  position: relative;
  padding-top: 35px;
  padding-bottom: 15px;
}
.TP-course-overview .row .col-12 {
  z-index: 2;
}
.TP-course-overview .row .absoluate-top {
  position: absolute;
  right: -20px;
  top: 0;
  display: inline-block;
  width: auto;
}
.TP-course-overview .row .absoluate-bottom {
  position: absolute;
  left: 32.5%;
  bottom: 0;
  display: inline-block;
  width: auto;
}
.TP-program-features {
  padding-top: 132px;
  padding-bottom: 150px;
}
.TP-program-features h2 {
  margin-bottom: 85px;
}
.TP-program-features .feature-box {
  background: #F0F4FA;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 22px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  min-height: 223px;
}
.TP-program-features .feature-box img {
  margin-bottom: 0;
}
.TP-program-features .img-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  background: #FFFFFF;
  border: 1px solid #0948B4;
  border-radius: 20px;
  height: calc(100% - 40px);
  padding: 20px 25px 0 25px;
}
.TP-features#learn-path .col-lg-auto {
  width: 361px;
}
.TP-features#learn-path .col-lg {
  width: calc(100% - 361px);
}
.TP-features#learn-path .intro {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.TP-testimonials#curriculum-testimonials {
  padding-top: 150px;
}
.TP-program-skills {
  padding-top: 150px;
}
.TP-program-skills .nav-fill .nav-item {
  margin: 0;
}
.TP-program-skills .nav-fill .nav-item .nav-link {
  padding: 35px 10px;
  border: 0;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 0;
  font-size: 24px;
  line-height: 40px;
}
.TP-program-skills .nav-fill .nav-item .nav-link.active {
  font-weight: 600;
  background: transparent;
  color: #EEBC00;
  border-bottom: 2px solid #EEBC00;
}
.TP-program-skills .tab-content {
  margin-top: 85px;
}
.TP-program-skills .skills-box {
  text-align: center;
  font-size: 20px;
  line-height: 31px;
  color: #576575;
  margin-bottom: 10px;
}
.TP-program-skills .skills-box .skill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 131px;
  height: 131px;
  background: #F0F4FA;
  border-radius: 50%;
  margin-bottom: 26px;
}
.TP-mentors#curriculum-mentors .container {
  max-width: 965px;
}
.TP-mentors#curriculum-mentors .box-content {
  padding: 28px 62px 28px 35px;
}
.TP-curriculum-details {
  padding-top: 50px;
  padding-bottom: 50px;
}
.TP-curriculum-details .section-head {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 95px;
}
.TP-curriculum-details .section-head .btn {
  padding: 20px 10px;
  width: 100%;
  max-width: 340px;
}
.TP-curriculum-details .section-head .btn i {
  margin-right: 14px;
}
.TP-curriculum-details .accordion .accordion-item {
  border: 1px solid #DEDEDE;
  box-shadow: 0px 1px 4px rgba(20, 3, 66, 0.07);
  border-radius: 20px;
  padding: 45px;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button {
  padding: 19px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #2E2E2E;
  border-color: #DEDEDE;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button::after {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  border: 0;
  padding: 0;
  padding-left: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn::after {
  display: none;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn::before {
  content: "+";
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  background: #EEBC00;
  border-radius: 32px;
  margin-right: 22px;
  padding-top: 9px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 73%;
  color: #fff;
}
.TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn:not(.collapsed)::before {
  content: "-";
}
.TP-curriculum-details .accordion .accordion-item .accordion-body ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.TP-curriculum-details .accordion .accordion-item .accordion-body ul li {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: #2E2E2E;
  position: relative;
  padding-left: 23px;
}
.TP-curriculum-details .accordion .accordion-item .accordion-body ul li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 0;
  background: url("../images/curriculum/list-star.svg");
}
.TP-curriculum-details .accordion .accordion-item .accordion-body .accordion-item {
  border: 0;
  box-shadow: none;
  padding: 0;
}
.TP-curriculum-details .accordion .accordion-item .accordion-body .accordion-item .accordion-body {
  padding-top: 30px;
}

/*** programs style ****/
.TP-all-programs {
  padding-top: 97px;
}
.TP-all-programs .program-box {
  margin-top: 50px;
}
.TP-all-programs .program-box .small-box {
  max-width: 479.46px;
}
.TP-all-programs .program-box .small-box li i {
  margin-right: 13px;
  font-size: 25px;
}
.TP-all-programs .program-box .program-date {
  margin-top: 75px;
  padding: 8px 32px;
  background: #F5F5F5;
  border: 1px solid #DEDEDE;
  border-radius: 36px;
}
.TP-all-programs .program-box .program-date ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.TP-all-programs .program-box .program-date ul li {
  font-size: 19px;
  line-height: 158%;
}
.TP-all-programs .program-box .program-date ul li:not(:first-child) {
  border-left: 1px solid #000000;
  padding-left: 26px;
  padding-right: 21px;
}
.TP-all-programs .program-box .program-date ul li:first-child {
  padding-right: 21px;
}
.TP-all-programs .program-box .program-date ul li:last-child {
  padding-right: 0;
}
.TP-all-programs .program-box .program-date ul li span {
  display: inline-block;
}
.TP-all-programs .program-box .program-date ul li span:first-child {
  margin-right: 24px;
}
.TP-all-programs .program-box .program-date ul li img {
  width: 15px;
  margin-right: 10px;
}
.TP-all-programs .program-box .program-price-details img {
  width: 387px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 32px;
}
.TP-all-programs .program-box .program-price-details h3 span {
  font-size: 19px;
  line-height: 30px;
  color: #7B7B7B;
  text-decoration: line-through;
}

/*** footer style ****/
footer {
  padding-top: 56px;
  padding-bottom: 56px;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  font-size: 14px;
  line-height: 186%;
}
footer .footer-logo {
  display: block;
  margin-bottom: 36px;
}
footer h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 128%;
  margin-bottom: 20px;
}
footer .social-links a {
  color: #044ab4;
  margin-right: 28px;
}
footer .social-links a i {
  font-size: 24px;
}
footer .social-links a:hover {
  color: #EEBC00;
}

.copyRights {
  padding: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

/**** pages media styles *******/
@media (max-width: 1200px) {
  .TP-programs .slick-slide,
  .TP-features .slick-slide {
    padding: 0 10px;
  }
  .TP-hero .hero-box {
    font-size: 18px;
  }
  .TP-hero .hero-box.second-box .logos img {
    max-width: 55px;
    margin: 10px 6px;
  }
  .TP-all-programs .program-box .program-date {
    padding: 8px 15px;
  }
  .TP-all-programs .program-box .program-date ul li {
    font-size: 14px;
  }
  .TP-all-programs .program-box .program-date ul li:not(:first-child) {
    border-left: 1px solid #000000;
    padding-left: 15px;
    padding-right: 15px;
  }
  .TP-all-programs .program-box .program-date ul li:first-child {
    padding-right: 15px;
  }
  .TP-all-programs .program-box .program-date ul li span:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 31px;
  }
  h2 span {
    font-size: 35px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider-container {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-tabs .nav-item {
    margin-right: 7px;
  }
  .nav-tabs .nav-item .nav-link {
    padding: 8.5px 30px;
    font-size: 18px;
  }
  .TP-faq h2.head,
  .TP-partners h2,
  .TP-testimonials h2,
  .TP-programs h2,
  .TP-instructors h2,
  .TP-programs.TP-events {
    margin-bottom: 48px;
  }
  .TP-instructors,
  .TP-programs {
    padding-top: 90px;
  }
  .TP-testimonials,
  .TP-partners {
    padding-top: 120px;
  }
  .TP-features .col-lg-auto {
    margin-bottom: 48px;
    padding-left: 30px;
  }
  .TP-skills .skill-box {
    padding: 40px 30px;
    margin-bottom: 16px;
    height: auto;
  }
  .TP-skills .skill-box.third-box {
    justify-content: center;
  }
  .TP-hero.hero-home {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .TP-features .col-lg {
    padding-right: 0;
  }
  .TP-partners .col-auto {
    width: 16.66666667%;
  }
  footer h4 {
    margin-top: 20px;
  }
  .TP-hero.about-hero {
    text-align: center;
  }
  .TP-hero.about-hero .col-md,
  .TP-hero.about-hero .col-md-auto {
    width: 100%;
  }
  .TP-about-us .skill-box {
    margin-bottom: 24px;
    height: auto;
  }
  .TP-fonder-story .row {
    flex-direction: column-reverse;
  }
  .TP-fonder-story .row .col-md-5,
  .TP-fonder-story .row .col-md-7 {
    width: 100%;
  }
  .TP-fonder-story .row img {
    margin: 48px auto;
    display: block;
  }
  .TP-mentors .slick-slide {
    padding: 0 10px;
  }
  .field-label {
    padding: 15px 20px;
    font-size: 18px;
  }
  .TP-learn-fields .field-label {
    margin: 6px;
  }
  .TP-hero.faq-hero form {
    width: 100%;
  }
  .TP-all-programs .program-box .row {
    flex-direction: column-reverse;
  }
  .TP-all-programs .program-box .program-price-details {
    margin-bottom: 30px;
  }
  .TP-all-programs .program-box .program-price-details img {
    width: 100%;
    height: 250px;
  }
  .TP-features#learn-path .col-lg-auto {
    width: 100%;
    margin-bottom: 40px;
  }
  .TP-features#learn-path .col-lg {
    width: 100%;
  }
  .TP-features#learn-path .intro {
    display: flex;
    justify-content: space-between;
  }
  .TP-features#learn-path .intro h2 {
    margin-bottom: 0;
  }
  .TP-program-skills .skills-box {
    font-size: 16px;
  }
  .TP-program-skills .skills-box .skill-img {
    margin: 0 auto;
    width: 85px;
    height: 85px;
    margin-bottom: 26px;
  }
  .TP-program-skills .skills-box .skill-img img {
    width: 100%;
  }
  .TP-curriculum-details .accordion .accordion-item {
    padding: 30px;
  }
  .TP-curriculum-details .accordion .accordion-item .accordion-header .accordion-button.outer-box-btn {
    font-size: 19px;
  }
  .TP-hero#program-hero .course-details {
    max-width: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .slick-slide .program-box {
    border: 1px solid #DEDEDE;
    padding: 20px;
    border-radius: 20px;
  }
  .slick-slide .program-box .content-box {
    border: 0;
    border-radius: 20px;
    padding: 30px 0 0 0;
    height: auto;
  }
  .mentor-box .box-content {
    padding: 20px 15px;
  }
  .mentor-box .box-content .tech-icons img {
    margin-right: 9px;
  }
  .TP-hero .course-form {
    max-width: 100%;
    margin-bottom: -150px;
  }
  .TP-contact-info {
    padding-top: 190px;
  }
  .TP-value .course-snap-block,
  .TP-value .course-snap-block:last-child {
    margin-bottom: 30px;
  }
  .TP-hire-facts h2 {
    margin-bottom: 48px;
  }
  .TP-hire-form form .btn {
    max-width: 100%;
  }
  .TP-partners .col-auto {
    width: 33.3333%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .TP-hero.event-hero {
    padding-top: 65px;
    text-align: center;
  }
  .TP-hero.event-hero .col-md-auto {
    margin-top: 40px;
  }
  .TP-explore h2 {
    max-width: 100%;
  }
  .TP-explore img {
    margin-bottom: 40px;
  }
  .TP-previous-events {
    /*.slider-container{
        padding: 0 30px
    }
    .row {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        border-radius: 20px;
        padding:0;
    }
    .program-box .content-box{
        padding:0;
        border:0;
    }*/
  }
  .TP-previous-events .row {
    flex-direction: column-reverse;
  }
  .TP-previous-events .event-gallary-slider {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */